<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="project.myBatis.foodBlog.dto.RecipeDTO" alias="recipe"></typeAlias>
        <typeAlias type="project.myBatis.foodBlog.dto.MagazineDTO" alias="magazine"></typeAlias>
        <typeAlias type="project.myBatis.foodBlog.dto.CommentDTO" alias="comment"></typeAlias>
        <typeAlias type="project.myBatis.foodBlog.dto.ImageFileDTO" alias="imageFile"></typeAlias>
        <typeAlias type="project.myBatis.foodBlog.dto.MagazineFileDTO" alias="magazineFile"></typeAlias>
    </typeAliases>
</configuration>
